<h1>Contract List</h1>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Due Date</th>
  </tr>

  <% @contracts.each do |contract| %>
    <tr>
      <td><%= contract.car_model %></td>
      <td><%= contract.driver_name %></td>
      <td><%= contract.due_date %></td>
      <td><%= link_to 'Show', contract_path(contract) %></td>
      <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    </tr>
  <% end %>
</table>
<%= paginate @contracts %>
